h1 {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color: lightgray;
    text-align: center;
}
.simplificado {
    border: 2px solid black;
    margin:  10px;
    padding: 0px 10px 10px 10px;
    background-color: lightgrey;
}
.ex1 {
    border: 3px solid darkorange;
}
.detalhado {
    border: 2px solid black;
    margin:  10px;
    padding: 0px 10px 10px 10px;
    background-color: lightgrey;
}
.ex2 {
    border-top: 3px dashed red;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.ex3 {
    border-top: 1px solid black;
    border-right: 3px solid red;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.ex4 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 3px dotted red;
    border-left: 1px solid black;
}
.ex5 {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 3px double red;
}
table {
    margin: 0 auto;
    border-spacing: 10px 10px;
    font-size: 30px;
}
.solid {
    border: 3px solid red;
}
.dashed {
    border: 3px dashed red;
}
.dotted {
    border: 3px dotted red;
}
.double {
    border: 3px double red;
}
.groove {
    border: 3px groove red;
}
.inset {
    border: 3px inset red;
}
.outset {
    border: 3px outset red;
}
.ridge {
    border: 3px ridge red;
}
.extra {
    border: 2px solid black;
    margin:  10px;
    padding: 0px 10px 10px 10px;
    background-color: lightgrey;
}
.arredondar {
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
}