div {
    border: 1px solid red;
    text-align: center;
    border-radius: 20px;
}
.left {
    float: left;
    width: 200px;
    height: 100px;
    background: lightblue;
    margin: 10px;
}
.right {
    float: right;
    width: 200px;
    height: 100px;
    background: lightpink;
    margin: 10px;
}
body {
    border: 1px solid blue;
}