h1 {
    background-color: orange;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    border-bottom: 4px dotted black;
}
p {
    background-color: lightsteelblue;
    border-radius: 20px;
    padding: 15px;
    border-left: 15px solid darkslateblue;
    border-right: 15px solid darkslateblue;
}