table, th, td{
    border: 1px solid black;
}
thead{
    background-color: darkorange;
}
.produto{
    font-weight: bold;
    background-color: rgb(255, 193, 118)
}
.valor{
    text-align: right;
    background-color: lightgray;
}
.qtd{
    text-align: center;
    background-color: lightgrey;
}