 #menu ul {
    list-style-type: none;
    padding: 0;
    width: 720px;
    background-color: #24252a;
    padding: 0.5em;
 }
 #menu li a {
    display: block;
    padding: 0.5em 1.5em;
    color: white;
    text-decoration: none;
    float: left;
    margin: 0 0.5em;
 }
 #menu ul::after {
    content: " ";
    clear: both;
    display: table;
 }
 #menu li a:hover {
    background-color: #0482ac;
    border-radius: 1.2em;
 }
 #menu li a:active {
    background-color: #7a7a7a;
 }
 #home #menu li.home a,
 #produtos #menu li.produtos a,
 #carrinho #menu li.carrinho a,
 #contato #menu li.contato a {
    padding-left: 2.5em;
    background: #f99200 url("img/seta.png") no-repeat 1.5em center;
    border-radius: 1.2em;
 }