body {
    background: skyblue;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0497f3;
    padding: 1em;
}
a {
    padding: 0.5em;
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: white;
    color: #0497f3;
}
.novo-site {
    position: absolute;
    top: 0;
    right: 0;
    }
#principal {
    width: 700px;
    background-color: white;
    margin: 1em auto;
    padding: 0.8em;
    position: relative;
}
.chat {
    background-color: violet;
    width: 150px;
    height: 200px;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    left: 0;
    }