table, th, td{
    border: 1px solid black;
}
caption{
    font-size:24px;
}
th{
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(155, 154, 154);
}
tfoot{
    text-align: center;
    background-color: lightyellow;
}
.posicao{
    background-color: lightgray;
}