body {
    background-color: black;
}
.container-flex {
    border: 4px solid red;
    display: flex;
    flex-direction: roll;
}
.container-flex > div {
    color: white;
    padding: 4px;
    margin: 4px;
    border: 4px solid white;
}