body {
    background-color: black;
}
.container-flex {
    width: 250px;
    height: 200px;
    border: 4px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.coluna {
    border: 4px solid blue;
    flex-direction: column;
}
.container-flex > div {
    color: white;
    padding: 4px;
    margin: 4px;
    border: 4px solid white;
}
h1, h3 {
    color: white;
}
.item {
    align-self: flex-start;
}