body {
    background-color: black;
}
.container-flex {
    height: 180px;
    border: 4px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.container-flex2 {
    height: 180px;
    border: 4px solid blue;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.container-flex > div {
    color: white;
    padding: 4px;
    margin: 4px;
    border: 4px solid white;
}
.container-flex2 > div {
    color: white;
    padding: 4px;
    margin: 4px;
    border: 4px solid white;
}
h1, h3 {
    color: white;
}