body {
    background-color: black;
}
.container-flex {
    width: 100%;
    height: 200px;
    border: 4px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.coluna {
    border: 4px solid blue;
    flex-direction: column;
}
.container-flex > div {
    color: white;
    padding: 4px;
    margin: 4px;
    border: 4px solid white;
}
h1, h3 {
    color: white;
}
.item {
    align-self: flex-start;
}
.item1 {
    flex-basis: 120px;
}
.item2 {
    flex-basis: 60px;
}
.item3  {
    flex-basis: auto;
}
.item4  {
    flex-grow: 1;
}
.item5  {
    flex-grow: 2;
}
.item6  {
    flex-grow: 1;
}