body {
    background-color: black;
}
.container-flex {
    height: 500px;
    border: 4px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.container-flex > div {
    color: white;
    padding: 4px;
    margin: 4px;
    border: 4px solid white;
}