html {
    background-color: #f2f2f2;
    margin: 0;
}
body {
    border: 2px solid blueviolet;
    margin: 20px;
    padding: 20px;
    background-color: white;
}
h1 {
    font-size: 30px;
    color: blueviolet;
}
p {
    color: gray;
}
img {
    width: 300px;
    border: 2px solid blueviolet;
    padding: 10px;
}